/* = variables
-------------------------------------------------------------- */
@height: 'document.body.clientHeight';
@fontColor: #333;
@fontSize: 6px;
@commentColor: #008000;
@textColor: #000;
@functionColor: #1157FF;
@stringColor: #A31515;
@hrefColor: #2B91BC;
@borderColor: #A5A5A5;

.rounded-corners (@radius: 2px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.transform(@X: 0px) {
    -moz-transform: translateX(@X);
    -ms-transform: translateX(@X);
    -o-transform: translateX(@X);
    -webkit-transform: translateX(@X);
    transform: translateX(@X);
}

.transition(@time: 1s) {
    -moz-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out;
    -webkit-transition: all @time ease-in-out;
    transition: all @time ease-in-out;
}

body {
    padding: 12px;
    font: 14px Consolas, Courier, monospace;
    line-height: 1.4em;
    color: @fontColor;
    border-top: solid 3px @fontColor;
}

.row {
    width: 100%;
    opacity: 0;
    .transition();

    &:before {
        content: attr(data-content);
        position: absolute;
        left: 3%;
        color: @hrefColor;
    }

    &.active {
        opacity: 1;
    }
}

.comment {
    color: @commentColor;
}

.text {
    color: @textColor;
}

.function {
    color: @functionColor;
}

.string {
    color: @stringColor;
    text-decoration: none;

    a {
        color: @stringColor;
        text-decoration: none;
        margin-bottom: -1px;
        display: inline-block;
        .rounded-corners(2px);
        border-bottom: solid 1px fade(@hrefColor,10%);
        position: relative;

        &:before {
            width: 100%;
            display: inline-block;
            content: '';
            position: absolute;
            bottom: 0;
            background-color: fade(@hrefColor,10%);
            .transition(.2s);
            height: 0;

            @media only screen and (max-device-width: 480px) {
                height: 18px;
            }
        }

        &:hover, &:focus {
            color: @stringColor;
            text-transform: none;

            &:before {
                height: 18px;
            }
        }
    }
}

.indent {
    width: 90%;
    margin-left: 5%;

    .indent {
        width: 95%;
        margin-left: 2.5%;
    }
}

.doubleindent {
    width: 90%;
    margin-left: 7.5%;
}
