@import "../../node_modules/normalize.css/normalize";

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  position: relative;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

@media screen {
  a[target="_blank"] {
    display: inline-block;
    padding-right: 1em;
    &::after {
      content: "↗";
      position: absolute;
      bottom: -2px;
      right: 0;
    }
  }
}

:root {
  --hue: 323;
  --main: hsl(var(--hue), 92%, 35%);
  --grad: hsl(var(--hue), 92%, 20%);
  --text: hsl(0, 0%, 20%);
  --text-light: hsl(0, 0%, 35%);
}

.container {
  width: 60rem;
  padding: 0 6vw;
  margin: 0 auto;
  @media screen and (min-width: 100rem) {
    width: 66vw;
  }
  @media screen and (max-width: 60rem) {
    width: 50rem;
  }
  @media screen and (max-width: 50rem) {
    width: 100%;
  }
}

header {
  height: 80vw;
  max-height: 520px;
  @media screen and (min-width: 100rem) {
    max-height: 70vh;
  }
  min-height: 460px;
  background-color: var(--main);
  background: linear-gradient(170deg, var(--main), var(--grad));
  background-attachment: fixed;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-bottom: 2rem;
}

section {
  margin: 72px 0;
}

.block + .block {
  margin-top: 2rem;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

h2 {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, var(--main), var(--grad));
    height: 0.5em;
    width: 2.5em;
    left: -0.4em;
    top: 0.5em;
    margin-top: -0.09em;
    transform: translateX(-100%);
  }
}
