@media print {
  :root {
    --main: #aa076b;
  }
  body {
    margin-bottom: 24px;
  }
  a[data-print]::after {
    content: ": " attr(data-print) "";
  }
  .page-break {
    page-break-after: always;
  }
  section {
    margin: 48px 0;
  }
  ul.links li {
    display: block;
  }
  header {
    background: var(--main);
    min-height: 0;
  }
  h2:before {
    background: var(--main);
  }
  .block {
    margin-top: 1em;
  }
  h3,
  h4 {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.2;
  }
  p {
    font-size: 18px;
  }
  ul.links .download,
  footer ul.links {
    display: none;
  }
}
